$gray-500: #aaa !default;

.form-checkbox {
    position: relative;
    appearance: none;
    cursor: pointer;
    margin: 0px 25px 0px 0px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -0.9em;
      display: inline-block;
      width: 20px;
      height: 22px;
      border: 1px solid;
    }
  
    &:checked:after {
      content: '\2713';
      position: absolute;
      left: 0.18em;
      top: -0.4em;
      font-size: 1.2rem;
      line-height: 0.5;
    }
  
    &:disabled {
      &:before {
        border: 1px solid $gray-500;
      }
    }
  }